<header class="header-example">
  <h1>Welcome to My Homepage</h1>
  <p>Use the menu to select different Stylesheets</p>
</header>
<section class="content">
  <nav>
    <ul id="menulist">
      <li class="menuitem">Stylesheet 1</li>
      <li class="menuitem">Stylesheet 2</li>
      <li class="menuitem">Stylesheet 3</li>
      <li class="menuitem">Stylesheet 4</li>
      <li class="menuitem">No Stylesheet</li>
    </ul>
  </nav>

  <article id="main">
    <h2>Same Page Different Stylesheets</h2>
    <p>
      This is a demonstration of how different stylesheets can change the layout
      of your HTML page. You can change the layout of this page by selecting
      different stylesheets in the menu, or by selecting one of the following
      links:<br />
      <a href="#" onclick="reStyle(0);return false">Stylesheet1</a>,
      <a href="#" onclick="reStyle(1);return false">Stylesheet2</a>,
      <a href="#" onclick="reStyle(2);return false">Stylesheet3</a>,
      <a href="#" onclick="reStyle(3);return false">Stylesheet4</a>.
    </p>
    <h2>No Styles</h2>
    <p>
      This page uses DIV elements to group different sections of the HTML page.
      Click here to see how the page looks like with no stylesheet:<br /><a
        href="#"
        onclick="noStyles();return false"
        >No Stylesheet</a
      >.
    </p>
  </article>
  <aside id="sidebar">
    <h3>Side-Bar</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
  </aside>
</section>
<footer class="footer-example"><h2 class="title-footer">Footer</h2></footer>
<!-- <router-outlet></router-outlet> -->
